fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
bcrypt
passlib
jinja2
python-multipart
python-jose[cryptography]
apscheduler
httpx
flask-dance
flask-login
itsdangerous
oauthlib
pulp
pyjwt
python-dotenv
alembic
email-validator

